<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../app.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    <title>Document</title>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>
   
    <header>
        <img src="../img/banner06.jpeg" alt="">
        <img src="../img/banner02.jpg" alt="">
        <img src="../img/banner07.jpg" alt="">
        <img src="../img/banner04.jpg" alt="">
        <img src="../img/banner05.jpg" alt="">
    </header>
    <nav>
        <a href="./Home.html"><img src="../img/Nội dung đoạn văn bản của bạn.png" alt=""></a>
        <div class="text-logo"><a href="./Home.html"><b><i> MinfulIntentions</i></b></a></div>
        <div id="Login">
            <a id="login1" href="./Sign.html" ><i class="fas fa-user"></i>&nbsp;Sign</a>
            
            
        </div>
    </nav>
    <div class="nav2">
        <ul>
            <li><a href="./Home.html"><b>Home</b></a></li>
            <li><b>Aerobic</b>
                <div class="menucon">
                    <ul>
                        <li><a href="./Theory(Aerobic).html"><b>Theory</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>Categories</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>CheckBook</b></a></li>
                    </ul>
                </div>
            </li>
            <li><a href=""><b>Meditation</b></a>
                <div class="menucon">
                    <ul>
                        <li><a href="./Theory(Meditation).html"><b>Theory</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>Categories</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>CheckBook</b></a></li>
                    </ul>
                </div>
            </li>
            <li><a href=""><b>Yoga</b></a>
                <div class="menucon">
                    <ul>
                        <li><a href="./Theory(Yoga).html"><b>Theory</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>Categories</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>CheckBook</b></a></li>
                    </ul>
                </div>
            </li>
            <li><a href="./Aboutus.html"><b>AboutUs</b></a></li>
        </ul>
        <form action="" id="Search">
            <input placeholder="Search......" id="Search-input" type="text" onclick="alert('This page is under development, please come back later! Thank you');">
            <a href="#" id="Search-btn" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><i class="fa-solid fa-magnifying-glass"></i></a>
        </form>
    </div>
    <article>






        <button class="btn11" onclick="myShow.previous()"><i class="fa-solid fa-less-than"></i></button>
<div class="slide">
   
   <a href="./Theory(Yoga).html"> <img class="nature" src="../img/sl1.jpg" width="50%"></a>
    <a href="./Theory(Meditation).html"><img class="nature" src="../img/slide1.jpg" width="50%"></a>
    <a href="./Theory(Meditation).html"><img class="nature" src="../img/sl2.jpg" width="50%"></a>
    <a href="./Theory(Yoga).html"><img class="nature" src="../img/slide2.jpeg" width="50%"></a>
    <a href="./Theory(Aerobic).html"><img class="nature" src="../img/slide3.jpeg" width="50%"></a>
    
    
    
    
    <script>
    myShow = w3.slideshow(".nature", 3000);
    </script>
</div>
<button class="btn12" onclick="myShow.next()"><i class="fa-solid fa-greater-than"></i></button>












    </article>
    <table class="table1">
        <tr class="hang1"></tr>
        <tr class="hang2">
            <td class="cot1"></td>
            <td class="cot2">
                <div id="hang4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>WHY WE NEED TO LIVE
                        HEALTHY?</b></div>
                <br>
                <div id="hang5"><i>We all know that we need to eat clean foods and do healthy things, like making sure
                        we wake up at 5 a.m. to go for a run before starting our busy day. Or say no to fast food or
                        greasy fried foods. In addition, exercising in many forms and in many different ways is always
                        one of the issues that many people are interested in, from children to the elderly. That is why
                        the website MindulIntentions is here to help people get closer to health-enhancing posture
                        exercises, bringing about durable and supple health, and it would be great to combine exercise
                        and other exercises. Things like eating clean foods mentioned above. That will help us live
                        longer, live more positively, be more beautiful, and have more energy.</i></div>
            </td>
            <td class="cot3"></td>
            <td class="cot4"><img src="../img/Why we need to live Healthy.png" alt=""></td>
            <td class="cot5"></td>
        </tr>
        <tr class="hang3"></tr>
    </table>

    <table class="manhinh">
        <tr>
            <td class="some1"></td>
            <td class="somevideo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>SOME CLIP ABOUT POSTURES</b>
            </td>
            <td class="some"></td>
        </tr>
        <tr class="hangg2">

        </tr>
    </table>


    <div class="full">
        <div id="wrapper">
            <ul class="products">
                <li>
                    <div class="product-item">
                        <div class="product-top">

                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/9MazN_6wdqI?si=GyEE8euJnNWo5jA_"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                        </div>
                        <div class="product-infor">
                            <a href="" class="product-name">
                                Yoga To Reduce Stress | 30 Min Slow Flow - Relaxing Stretches + Savasana
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-item">
                        <div class="product-top">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/X3Zp0h42J_w?si=UvU6Hfb9huW4CQXX"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                        <div class="product-infor">
                            <a href="" class="product-name">
                                AEROBIC REDUCTION OF BELLY FAT QUICKLY | Complete an Aerobic Exercise At Home | Zumba
                                Class </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-item">
                        <div class="product-top">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/R9_WVKL9nAo?si=baNh3p2_M3fFMwK4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                        <div class="product-infor">
                            <a href="" class="product-name">
                                What is Meditation..? | Buddhism In English
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-item">
                        <div class="product-top">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/c8n3dqJW4y0?si=TMWmkO6zdyG4gI1j"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                        <div class="product-infor">
                            <a href="" class="product-name">
                                Modern music for yoga. 45 min of modern yoga music by Songs Of Eden.
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-item">
                        <div class="product-top">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/inpok4MKVLM?si=5KuwdWXdz-h5xPCR"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                        <div class="product-infor">
                            <a href="" class="product-name">
                                5-Minute Meditation You Can Do Anywhere
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-item">
                        <div class="product-top">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/uIa44PJ4JZk?si=Inm5iOz67np0vMwM"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <div class="product-infor">
                                <a href="" class="product-name">
                                    50 Minute Aerobic Dance Workout - Full Body FAT BURNING | Hai Anh Aerobics </a>
                            </div>
                        </div>
                </li>
                <li>
                    <div class="product-item">
                        <div class="product-top">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/HZlprRP1j4o?si=9U9S2-BccLnH4BPU"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                        <div class="product-infor">
                            <a href="" class="product-name">
                                50 Minutes Yoga At Home For Beginner Based On Backbend and Hip Opening | Yoga Vietnam |
                                Yograja
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product-item">
                        <div class="product-top">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/ZElQufsv27U?si=ruDCF78dvFSSHDt3"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                        <div class="product-infor">
                            <a href="" class="product-name">
                                25 Mins Aerobic reduction of belly fat quickly - Aerobic dance workout easy steps | EMMA
                                Fitness
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="halo"><a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');"><b>. . .</b></a></div>
    </div>

    <footer>
        <table class="foo">
            <tr class="hanggg1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="font">
                <td></td>
                <td><b>MindfulIntentions</b></td>
                <td></td>
                <td><b>Get Touch</b></td>
                <td></td>
                <td><b>Links</b></td>
                <td></td>
                <td><b>AboutUs</b></td>
                <td></td>
            </tr>
            <tr id="font2">
                <td></td>
                <td class="hanggg5">MindfulIntentions, which provides posture information from a variety of sources,
                    bringing you closer to an active lifestyle.</td>
                <td></td>
                <td class="hanggg12">
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');"><i class="fa-solid fa-envelope"></i></a>
                </td>
                <td></td>
                <td class="hanggg9"> 
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');">My Account</a>

                    <br>
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');">Conditions</a>

                </td>
                <td></td>
                <td class="hanggg3"><a href="./Aboutus.html">AboutUs</a></td>
                <td></td>
            </tr>
            <tr class="hanggg4">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
       
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

var offset = 500;

var duration = 750;
$(function(){
$(window).scroll(function () {
if ($(this).scrollTop() > offset)
$('#top-up').fadeIn(duration);else
$('#top-up').fadeOut(duration);
});
$('#top-up').click(function () {
$('body,html').animate({scrollTop: 0}, duration);
});
});
</script>
<div title="Back to top" id="top-up">
<i class="fas fa-arrow-circle-up"></i></div>
    </footer>
</body>

</html>
