*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}
header{
    height: 200px;
   
}
header img{
    height: 200px;
    float: left;
    width: 20%;
}
nav{
    background-color:#1c1f1b;
    height: 100px;
    width: 100%;
    
}
nav .text-logo{
    color: #c9c0a5;
    font-size: 20px;
    line-height: 100px;
    float: left;
    text-shadow: 5px 5px 0 #7a9282;
}
article{
    background-color: #c9c0a5;
    height: 600px;
}
nav img{
    height: 100px;
    float: left;
}
.nav2{
    height: 50px;
    width: 100%;
    background-color: #7a9282;
}
footer{
    height: 500px;
    background-color: #2877b5;
}
.nav2 ul{
    list-style: none;
}
.nav2 ul li{
    line-height: 50px;
    width:144px;
    margin-left: 70px;
    font-size: 18px;
    position: relative;
    display: block;
    float: left;
    text-align: center;
}
.nav2 ul li:hover{
    background-color: #7a9282;
    
}
.nav2 ul li a{
    text-decoration: none;
    color: #1c1f1b;

}
.nav2 ul li .menucon ul li{
    float: none;
    margin: 0 0;
}
.nav2 ul li .menucon{
    display: none;
    position: absolute;
}
.nav2 ul li:hover .menucon{
    display: block;
    background-color: #497d5b;
}
.nav2 #Search{
    float: right;
    line-height: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.nav2 #Search #Search-input{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 30px;
    width: 350px;
    margin-right: 10px;
    height: 28px;
    font-size: 20px;
    
}
.nav2 #Search #Search-btn{
    background-color: #1c1f1b;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50px;
    color: #ffffff;
}
#Login{
    float: right;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    color: #c9c0a5;
    margin-right: 50px;
}
#Login a{
    color: #c9c0a5;
    text-decoration: none;
}
#Login #login1{
    margin-right: 10px;
}
#Login #login2{
    margin-left: 10px;
}
.table1{
    width: 100%;
    height: 600px;
    background-color: #c9c0a5;
}
.table1 .cot2{
    width: 1000px;
    height: 500px;
    
}
.table1 .cot1{
    width: 80px;
    height: 600px;
}
.table1 .cot5{
    width: 80px;
    height: 600px;
}
.table1 .cot3{
    width: 150px;
    height: 600px;
}
.table1 .cot4 img{
    width: 600px;
    height: 600px;
}
.table1 .hang1{
    height: 50px;
}
.table1 .hang3{
    height: 50px;
}
#hang4{
    color: #ffffff;
    height: 50px;
    background-color: #000000;
    line-height: 50px;
    font-size: 20px;
}
#hang5{
    color: #0c033e;
    height: 550px;
    background-color: #c9c0a5;
    font-size: 20px;
    text-align: justify;
}
