
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 200px;
   
}
header img{
    height: 200px;
    float: left;
    width: 20%;
}
nav{
    background-color:#1c1f1b;
    height: 100px;
    width: 100%;
    
}
nav .text-logo{
    color: #c9c0a5;
    font-size: 20px;
    line-height: 100px;
    float: left;
    text-shadow: 5px 5px 0 #7a9282;
}

nav img{
    height: 100px;
    float: left;
}
.nav2{
    height: 50px;
    width: 100%;
    background-color: #7a9282;
}
footer{
    height: 300px;
    background-color: #2877b5;
}
.nav2 ul{
    list-style: none;
}
.nav2 ul li{
    line-height: 50px;
    width:144px;
    margin-left: 70px;
    font-size: 18px;
    position: relative;
    display: block;
    float: left;
    text-align: center;
}
.nav2 ul li:hover{
    background-color: #7a9282;
    
}
.nav2 ul li a{
    text-decoration: none;
    color: #1c1f1b;

}
.nav2 ul li .menucon ul li{
    float: none;
    margin: 0 0;
}
.nav2 ul li .menucon{
    display: none;
    position: absolute;
}
.nav2 ul li:hover .menucon{
    display: block;
    background-color: #497d5b;
}
.nav2  #Search{
    float: right;
    line-height: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.nav2 #Search #Search-input{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 30px;
    width: 350px;
    margin-right: 10px;
    height: 28px;
    font-size: 20px;
    
}
.nav2 #Search #Search-btn{
    background-color: #1c1f1b;
    border: none;
    height: 40px;
    width: 40px;
    /* cursor: pointer; */
    border-radius: 50px;
    color: #ffffff;
}
.nav2 #Search #Search-btn i{
    margin-left: 11px;
 font-size: 20px;
}
#Login{
    float: right;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    color: #c9c0a5;
    margin-right: 50px;
}
#Login a{
    color: #c9c0a5;
    text-decoration: none;
}
#Login #login1{
    margin-right: 10px;
}
#Login #login2{
    margin-left: 10px;
}
.table1{
    width: 100%;
    height: 600px;
    background-color: #c9c0a5;
}
.table1 .cot2{
    width: 1000px;
    height: 500px;
    
}
.table1 .cot1{
    width: 80px;
    height: 600px;
}
.table1 .cot5{
    width: 80px;
    height: 600px;
}
.table1 .cot3{
    width: 150px;
    height: 600px;
}
.table1 .cot4 img{
    width: 600px;
    height: 600px;
}
.table1 .hang1{
    height: 50px;
}
.table1 .hang3{
    height: 50px;
}
#hang4{
    color: #ffffff;
    height: 50px;
    background-color: #000000;
    line-height: 50px;
    font-size: 20px;
}
#hang5{
    color: #000000;
    height: 550px;
    background-color: #c9c0a5;
    font-size: 20px;
    text-align: justify;
}
.manhinh .somevideo{
    color: #ffffff;
    height: 50px;
    background-color: #000000;
    line-height: 50px;
    font-size: 20px;
    width: 715px;
}
.manhinh{
    max-height: 50px ;
    background-color: #c9c0a5;
    max-width: 100%;
}
.manhinh .some1{
    width: 50px;
}
.manhinh .some{
    background-color: #c9c0a5;
    width: 770px;
}
#wrapper{
    max-width: 1170px;
    margin: 0 auto;
    background-color:#c9c0a5;
}
ul.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
ul.products li{
    flex-basis: 25%;
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li iframe{
    max-width: 100%;
    height: auto;
}
ul.products li .product-item .product-name{
    text-decoration: none;
    color: #000000;

}
.full{
    max-width: 100%;
    background-color: #c9c0a5;
    height: 700px;
}
.manhinh .hangg2{
    height: 50px;
}
.full .halo{
    color: #000000;
    font-size: 40px;
    width: 100%;
    text-align: center;
}
.full .halo a{
    text-decoration: none;
    color: #000;
}
.text-logo a{text-decoration: none;
color: #c9c0a5;
}
footer table{
    width: 100%;
    height: 300px;
   
}
footer table tr td{
    width: 11%;
    text-decoration: none;
}
footer table .hanggg1{
    height: 80px;
}
footer table .hanggg4{
    height: 80px;
}
#font{
    font-size: 25px;
}

footer table tr .hanggg5{
    text-align: left;
    color: #ffffff;
}
footer table tr .hanggg3 a{
    color: #ffffff;

}
footer table tr .hanggg9 a{
    color: #ffffff;
}

#error{
    width: 100%;
    height: 800px;
    background-color: #c9c0a5;
    text-align: center;
    line-height: 800px;
    font-size: 50px;
}
.divbu1{
    height: 3000px;
    width: 100%;
    background-color: #c9c0a5;
    color: #000;
    font-size: 17px;
}
.divbu1 .textaerobic{
    height: 100px;
    font-size: 25px;
    background-color: #2877b5;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
}
.divbu1 .texttext{
    margin: 20px 150px;
    text-align: justify;
}
.divbu1 .textlon{
    margin: 20px 100px;
    font-size: 25px;
}
.divbu1 .hinh img{
    height: 400px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.divbu2{
    height: 5000px;
    width: 100%;
    background-color: #c9c0a5;
    color: #000;
    font-size: 17px;
}
.divbu2 .textmeditation{
    height: 100px;
    font-size: 25px;
    background-color: #2877b5;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
}
.divbu2 .texttext{
    margin: 20px 150px;
    text-align: justify;
}
.divbu2 .textlon{
    margin: 20px 100px;
    font-size: 25px;
}
.divbu2 .hinh img{
    height: 400px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.divbu3{
    height: 6200px;
    width: 100%;
    background-color: #c9c0a5;
    color: #000;
    font-size: 17px;
}
.divbu3 .textyoga{
    height: 100px;
    font-size: 25px;
    background-color: #2877b5;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
}
.divbu3 .texttext{
    margin: 20px 150px;
    text-align: justify;
}
.divbu3 .textlon{
    margin: 20px 100px;
    font-size: 25px;
}
.divbu3 .hinh img{
    height: 400px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.divbu3 .lonnhi{
    margin: 20px 130px;
    font-size: 20px;
}
.foo #font2 .hanggg12 i{
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}
article{
    width: 100%;
    background-color: #14466c;
    height: 700px;
    display: flex;
}
article .slide{
    margin: auto;
    width: 1000px; 
}
article img{
    width: 1000px;
    height: 650px;
}
article .btn11{
    height: 50px;
   margin-left: 140px;
   width: 80px;
   margin-top: 370px;
   font-size: 35px;
   color: #ffffff;
   background-color: #14466c;
   border: none;
}

article .btn12{
    height: 50px;
    margin-right: 140px;
    width: 80px;
    margin-top: 370px;
    font-size: 35px;
    color: #ffffff;
    background-color: #14466c;
    border: none;
}
.chungtoi{
    width: 100%;
    height: 1000px;

}
.chungtoi .naykia{
    height: 500px;
    width: 1000px;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    
}
.chungtoi .kiano{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #c9c0a5;
}
.chungtoi .kiano .kiano1 img{
  margin-top: 30px;
  
}
.chungtoi .kiano .kiano1{
    margin-left: 20px;
    margin-bottom: 30px;
}
.chungtoi .kiano .kiano2{
    margin-left: 20px;
}
#top-up {
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color:#dbfa2e;
    bottom: 20px;
    right: 15px;
    display: none;
    }
    #top-up:hover {
    color: #333
    }