<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../app.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>

<body>
    <header>
        <img src="../img/banner06.jpeg" alt="">
        <img src="../img/banner02.jpg" alt="">
        <img src="../img/banner07.jpg" alt="">
        <img src="../img/banner04.jpg" alt="">
        <img src="../img/banner05.jpg" alt="">
    </header>
    <nav>
        <a href="./Home.html"><img src="../img/Nội dung đoạn văn bản của bạn.png" alt=""></a>
        <div class="text-logo"><a href="./Home.html"><b><i> MinfulIntentions</i></b></a></div>
        <div id="Login">
            <a id="login1" href="./Sign.html" ><i class="fas fa-user"></i>&nbsp;Sign</a>
    </nav>
    <div class="nav2">
        <ul>
            <li><a href="./Home.html"><b>Home</b></a></li>
            <li><b>Aerobic</b>
                <div class="menucon">
                    <ul>
                        <li><a href="./Theory(Aerobic).html"><b>Theory</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>Categories</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>CheckBook</b></a></li>
                    </ul>
                </div>
            </li>
            <li><a href=""><b>Meditation</b></a>
                <div class="menucon">
                    <ul>
                        <li><a href="./Theory(Meditation).html"><b>Theory</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>Categories</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>CheckBook</b></a></li>
                    </ul>
                </div>
            </li>
            <li><a href=""><b>Yoga</b></a>
                <div class="menucon">
                    <ul>
                        <li><a href="./Theory(Yoga).html"><b>Theory</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>Categories</b></a></li>
                        <li><a href="#" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><b>CheckBook</b></a></li>
                    </ul>
                </div>
            </li>
            <li><a href="./Aboutus.html"><b>AboutUs</b></a></li>
        </ul>
        <form action="" id="Search">
            <input placeholder="Search......" id="Search-input" type="text" onclick="alert('This page is under development, please come back later! Thank you');">
            <a href="#" id="Search-btn" type="text" onclick="alert('This page is under development, please come back later! Thank you');"><i class="fa-solid fa-magnifying-glass"></i></a>
        </form>
    </div>
    
<div class="about">
    About Us
</div>
    


<div class="toan">
    <div class="iv1">
        <div class="test">I am Truong Vo Huu Huan, the leader of group 5, we welcome you to this website. The MindfulIntetions website is a product of our passion with the goal of providing users with a website that provides complete information from a to z about therapeutic postures with many types such as Aerobic, Meditation, and Yoga. This is where you can see and learn more about the benefits and results that postures can bring to your mental and physical life. Thank you and have a good day. healthy.</div>
        <table>
            <tr>
                <div id="inh"><img src="../img/meeeee.jpg" alt=""></div>
            </tr>
        </table>
    </div>
</div>

<div class="thieu">
    
    <b><i>Introducing 3 members of group 5:</i></b>
</div>


<div class="huan">
    <img src="../img/meeeee.jpg" alt="">
    <div class="gioi">
          <b>Name:</b> Trương Võ Hữu Huân
           <br>
           <b>Position:</b> Leader
    </div>
</div>

<div class="huan2">
    <div class="gioi2">
         Bàn Văn Quý<b>:Name</b>
           <br>
           Member<b>:Position</b> 
    </div>
  <img src="../img/đen.jpg" alt="">
    
</div>
<div class="huan">
    <img src="../img/đen.jpg" alt="">
    <div class="gioi">
          <b>Name:</b> Đinh Văn Thắng
           <br>
           <b>Position:</b> Member
    </div>
</div>

    
    <footer>
        <table class="foo">
            <tr class="hanggg1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="font">
                <td></td>
                <td><b>MindfulIntentions</b></td>
                <td></td>
                <td><b>Get Touch</b></td>
                <td></td>
                <td><b>Links</b></td>
                <td></td>
                <td><b>AboutUs</b></td>
                <td></td>
            </tr>
            <tr id="font2">
                <td></td>
                <td class="hanggg5">MindfulIntentions, which provides posture information from a variety of sources,
                    bringing you closer to an active lifestyle.</td>
                <td></td>
                <td class="hanggg12">
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');"><i class="fa-solid fa-envelope"></i></a>
                </td>
                <td></td>
                <td class="hanggg9"> <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');">My Account</a>

                    <br>
                    <a href="#" type="text" onclick="alert('This feature is under development, please come back later! Thank you');">Conditions</a>
                </td>
                <td></td>
                <td class="hanggg3"><a href="./Aboutus.html">AboutUs</a></td>
                <td></td>
            </tr>
            <tr class="hanggg4">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

var offset = 500;

var duration = 750;
$(function(){
$(window).scroll(function () {
if ($(this).scrollTop() > offset)
$('#top-up').fadeIn(duration);else
$('#top-up').fadeOut(duration);
});
$('#top-up').click(function () {
$('body,html').animate({scrollTop: 0}, duration);
});
});
</script>
<div title="Back to top" id="top-up">
<i class="fas fa-arrow-circle-up"></i></div>
    </footer>
</body>

</html>